h1 {
  padding-bottom: 50px;
}
button img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50px;
  border-radius: 3px;
  transition: all 0.3s;
  z-index: 1;
}
button {
  position: relative;
  min-height: 50px;
  overflow: visible;
  z-index: 1;
}
button:hover img {
  width: 100px;
  border-radius: 50% 5px 50% 50%;
  z-index: 10;
}
.list-group {
  max-width: 700px;
  margin: auto;
}
.list-group ul {
  max-width: 600px;
}
#details {
  margin: auto;
  max-width: 700px;
}

.details-img {
  width: 300px;
}
.ingredient-img {
  width: 50px;
}
